* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #51025a;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.curso{
    background-image: linear-gradient(#51025a, #e85cda64);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.curso-div-conteudo{
    width: 35%;
}
.curso-titulo{
    padding: 24px 0;
}